<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feedback Dashboard</title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css" />
</head>
<body>

  <main class="uk-container">

    <h3 class="uk-text-center">Dashboard</h3>

    <ul uk-accordion>

      <% feedbacks.forEach(fb => { %>
        <li class="">
          <a class="uk-accordion-title" href="#"><%= fb.infoData.time + ' - ' + fb.infoData.algorithm + ' - ' + fb.infoData.deviceInfo %></a>
          <div class="uk-accordion-content">
            
            <p class="uk-text-center">
              Comment:<br/>
              <span class="uk-text-lead"><%= fb.infoData.userComment %></span>
            </p>

            <% if(fb.infoData.hasScreenshot){ %>
            <p class="uk-text-lead uk-text-center">
              Used screenshot as fallback
            </p>
            <% } %>

            <div class="uk-grid" uk-grid>

              <div class="uk-text-center uk-width-1-3@m">
                <p>Photo</p>
                <% if(fb.infoData.photoFile){ %>
                <img src="/feedbacks/<%= fb.dir %>/<%= fb.infoData.photoFile %>" alt="Photo">
                <% } else { %>
                <p>N/A</p>
                <% } %>  
              </div>

              <div class="uk-text-center uk-width-1-3@m">
                <p>Screenshot</p>
                <% if(fb.infoData.screenshotFile){ %>
                <img src="/feedbacks/<%= fb.dir %>/<%= fb.infoData.screenshotFile %>" alt="Screenshot">
                <% } else { %>
                <p>N/A</p>
                <% } %>  
              </div>

              <div class="uk-text-center uk-width-1-3@m">
                <p>Result</p>
                <% if(fb.infoData.resultFile){ %>
                <img src="/feedbacks/<%= fb.dir %>/<%= fb.infoData.resultFile %>" alt="Result">
                <% } else { %>
                <p>N/A</p>
                <% } %>  
              </div>

            </div>
          </div>
        </li>
      <% }); %>
    </ul>

  </main>
  
  
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js"></script>

</body>
</html>